<head>

</head>

<div class="container d-none d-lg-block" id='aside'>
    
    <div class="d-flex flex-column" style="width:100%">
        <!-- <span class="fs-4 fw-bold m-1 py-1">Menu</span> -->
        <br>
        <ul class="nav nav-pills flex-column mb-auto px-0">
            <li class="nav-item">
                <input  class="form-control" aria-current="page" input type="text" placeholder="Search..">
                </input>
            </li>
            <hr style="color:white;">

            <span class="fw-bold ps-3 pb-3" style="color:white;">Main</span>
            
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  <svg class="fa fa-home" height="16"></svg>
                  Home
                </a>
              </li>
            <li class="nav-item">
                <a  href="" class="nav-link" id="Home-nav">
                    <svg class="fa fa-envelope" height="16"></svg>
                    Home/Messages
                </a>
            </li>
 
        </ul>
    </div>
</div>
