{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


    <div class="d-flex justify-content-center"">
            <div class= "w-50 m-5 p-2 bg-white rounded box-shadow justify-content-center"  id='centerform'>

                <div class="p-2 border-t border-gray-200">

                    <h1 class="text-4xl text-gray-800">Reset Password</h1>

                    <form class="" method="post">
                        {% csrf_token %}
                        {% crispy form %}
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                        <hr>
                        <a href="{% url 'login' %}">Already have an account?</a>

                    </form>


                    </div>
            </div>
        </div>


{% endblock content %}
