{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<div class="d-flex justify-content-center"">

        <div class= "w-50 m-5 p-2 bg-white rounded box-shadow justify-content-center"  id='centerform'>
            <div class="p-2 border-t border-gray-200">
        <h1>{% trans "Verify Your Whatsapp Number" %}</h1>

        <p>{% blocktrans %}We have sent an message to your Whatsapp account for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>

        </div>
    </div>
</div>

{% endblock %}
