{% extends "base2.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class= "w-50 m-5 p-2 bg-white rounded box-shadow justify-content-center"  id='centerform'>
      <div class="p-2 border-t border-gray-200">
        <form method="post" action="{% url 'account_logout' %}">
        <h2>{% trans "Sign Out" %}</h2>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="row">
            <div class="col-sm-2">
              <input type="submit" class= "btn btn-primary"  value="Sign Out"></input>
            </div>
            <div class="col-sm-2 d-sm-none d-lg-none">
              <br>
            </div>
            <div class="col-sm-2">
              <input type="Back" class= "btn btn-outline-secondary " value="Go back!" onclick="history.back()">
            </div>                     
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
