{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}

<div class="d-flex justify-content-center"">

    <div class= "w-50 m-5 p-2 bg-white rounded box-shadow justify-content-center"  id='centerform'>
        <div class="p-2 border-t border-gray-200">


            <form method="POST">
                <a class="m-3 d-flex justify-content-center" href="{% url 'landing:landing_page' %}">
                    <img src="{% static 'images/logo_small.png' %}" alt="SalesMinded Logo" alt="" width="50" height="34" width='10%'>
                  </a>
                 <h2> Forgotten Your Password? </h2>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <br>
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
                <br>
                <br>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </form>

        </div>
    </div>
</div>

{% endblock %}
