{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% load static %}

{% block content %}
<div class="d-flex justify-content-center"">
    <div class= "w-50 m-5 p-2 bg-white rounded box-shadow justify-content-center"  id='centerform'>
        <div class="p-2 border-t border-gray-200">
            <a class="m-3 d-flex justify-content-center" href="{% url 'landing:landing_page' %}">
                <img src="{% static 'images/logo_small.png' %}" alt="SalesMinded Logo" alt="" width="50" height="34" width='10%'>
              </a>
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" class="btn btn-primary" value="{% trans 'change password' %}"/>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
