{% extends 'base1.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<head>

  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>


    <div class="container-fluid">
            <div class="bg-white rounded box-shadow">
                <div class="main-body">
                  <main class="">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 class="text-4xl text-gray-800">Collection Create</h2>
                      <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                      </div>
                    </div>
                  </main>
            
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Product Collections</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Collections</li>
                    </ol>
                    </nav>


                  <!--Create a crispy form for Product Collection-->
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="Back" class= "btn btn-sm btn-outline-secondary" style="width:80px" value="Back!" onclick="history.back()">
                    <button type="submit" class="btn btn-sm btn-outline-primary">Create</button>
                  </form>
        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
      // Initialize datepicker for elements with the 'datepicker' class
      $('.datepicker').datepicker();
  });
</script>



{% endblock content %}
